
.container {
  width: 800px;
  height: 500px;
  background-image: url("http://pic1a.nipic.com/2008-12-04/2008124215522671_2.jpg");
  background-size: 100% 100%;
}

.content {
  width: 50px;
  height: 50px;
  background-image: url("http://image.photophoto.cn/nm-6/018/030/0180300244.jpg");
  background-size: 100% 100%;
  animation: myaim 10s infinite;
}

@keyframes myaim {
  0% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50% {
    opacity: .5;
    transform: translate(60px, 50px) rotate(360deg);
  }
  60% {
    transform: translate(700px, 50px) scale(1.5);
  }
  75% {
    transform: translate(700px, 50px) skew(30deg, 0deg);
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}